<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
  </head>
  <body>
    <div id="container">
    <h1 id="titulo">DH News</h1>
    <h3>Postado em 02/03/2021</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure rem
      doloremque id impedit alias,
      <strong>voluptatibus earum laboriosam</strong> sequi culpa tempora fugiat
      ad molestias laborum ipsam enim nemo voluptatem sit officia.
    </p>
    <img
      src="../public/img/destaque.webp"
      alt="Pessoas sentadas em um refeitorio"
    />

    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, quas?
      Voluptatem ullam distinctio sit culpa! Quibusdam, facere quae quisquam
      earum odio beatae, molestias amet, itaque voluptatibus provident laborum
      iste voluptates!
    </p>

    <ol>
      <li>Corporis, quas? Voluptatem ullam distinctio sit culpa!</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Quibusdam, facere quae quisquam earum odio beatae</li>
    </ol>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, minima
      voluptatem corporis deserunt incidunt provident? Ratione perspiciatis
      blanditiis illo, quaerat ducimus, quis aspernatur, non molestiae assumenda
      in perferendis doloremque ex!
    </p>

    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, dicta
      cumque. <strong>Repellendus tenetur explicabo</strong> quod laborum sunt
      iste, facilis suscipit laudantium hic provident iusto temporibus quisquam
      mollitia dolorum eum illum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, blanditiis
      reprehenderit facilis, natus facere nostrum quibusdam quo nobis beatae est
      optio, repellat quos odio quas quia assumenda. Vel, quo placeat? Nemo
      corrupti ullam vero sint unde inventore earum rerum distinctio quibusdam
      cum possimus suscipit dolorum nisi, laudantium perspiciatis eum
      dignissimos sapiente id fugit hic. Rerum hic assumenda molestias
      repudiandae officiis?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
      consequatur harum sequi totam debitis ullam, sit maiores cumque voluptate
      aspernatur. Nam animi recusandae fugit dolores corrupti libero vero.
      Nulla, vel. Sed commodi inventore blanditiis perspiciatis dicta pariatur
      sequi dolorem ex repudiandae ipsa eveniet cupiditate nesciunt dignissimos
      et minima alias accusamus aliquam reprehenderit soluta ullam, iste
      veritatis unde. Labore, aperiam distinctio!
    </p></div>
  </body>
  
  <footer>
    <a href="https://www.facebook.com"><img src="../public/img/facebook.svg" alt="Facebook logo" /></a>
    <a href="https://instagram.com"><img src="../public/img/instagram.svg" alt="Instagram logo" /></a>
    <a href="https://linkedin.com"><img src="../public/img/linkedin.svg" alt="Linkedin logo" /></a>
    <a href="https://youtube.com"><img src="../public/img/youtube.svg" alt="Youtube Logo"/></a>
  </footer>
</html>

